<style>
    .navbar-brand:hover {
        background-color: transparent !important;
    }
    .navbar > .navbar-item:hover {
        background: #292929;
    }
    .navbar > .navbar-item,
    .navbar > .navbar-item > .navbar-link {
        color: white;
    }
</style>
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="dropdown navigation">
    <a class="navbar-item navbar-brand" href="{root}">
        <img src="{root}/resources/media/logo.svg" alt="LearnFram" width="112" height="28">
    </a>
    <a class="navbar-item" href="{root}/">Documentation</a>
    <a class="navbar-item" href="{root}/schema/">JSON schema definition</a>
    <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link" href="{root}/apis">API specifications</div>
        <div class="navbar-dropdown">
            {api-specification}
        </div>
    </div>
</nav>